main div {
  display: flex;
  flex-direction: column;
}

.body-login-signup {
  background: url("../assets/wallpaper.svg"), lightgray 50%;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

.texto-principal {
  height: 21.875rem; 
  width: 38.375rem; 
  gap: 2.0625rem; 
}

.texto-principal h1 {
  color: #fff;
  font-family: var(--font-family-rubik);
  font-size: 3.25rem; 
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.texto-principal p {
  color: #fff;
  font-family: var(--font-family-rubik);
  font-size: 1.75rem; 
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.texto-principal strong {
  color: var(--color-purple);
}

.texto-principal button {
  width: 17.75rem; 
  height: 3rem;
  border-radius: 0.3125rem;
  background-color: var(--color-purple);
  border: none;
  color: #fff;
  font-family: var(--font-family-rubik);
  font-size: 0.875rem; 
  font-style: normal;
  font-weight: 700;
}

.area-login {
  height: 33.4375rem; 
  width: 32.0625rem; 
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.area-login h3 {
  margin: 3.125rem auto; 
  color: var(--color-purple);
  font-family: var(--font-family-rubik);
  font-size: 1.75rem; 
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

form {
  width: 28.0625rem; 
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 1.25rem; 
}

label {
  color: var(--color-gray);
  font-family: var(--font-family-rubik);
  font-size: 1.125rem; 
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

input {
  padding: 0.625rem; 
  border-radius: 0.3125rem; 
  border: 1px solid #555;
  background: #fff;
  width: 28.0625rem; 
  height: 3.125rem;
  flex-shrink: 0;
}

form button {
  width: 28.0625rem; 
  margin-top: 3.125rem; 
  height: 3.25rem;
  border-radius: 0.3125rem; 
  border: none;
  background: var(--color-purple);
  font-family: var(--font-family-rubik);
  font-weight: 700;
  font-size: 0.875rem;
  color: #fff;
  cursor: pointer;
}

.erroMensagem {
  color: #e60101;
}

.signup-main-container {
  justify-content: center;
}

.area-register {
  height: 46rem;
  width: 32.0625rem; 
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.area-register h3 {
  margin: 3.125rem auto; 
  color: var(--color-purple);
  font-family: var(--font-family-rubik);
  font-size: 1.75rem; 
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.register-form button {
  margin-top: 0.625rem;
}

.login-navigate-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.login-navigate-button {
  width: 13.4375rem; 
  height: 1.0625rem;
  background-color: #fff;
  color: var(--color-purple);
  text-align: center;
}
