.resume {
  width: 14.75rem;
  height: 12.25rem;
  border-radius: 0.625rem;
  box-shadow: 0px 0.125rem 0.6875rem 0px rgba(0, 0, 0, 0.1);
  background: #fafafa;
  display: flex;
  justify-content: space-evenly;
}

.resume hr {
  margin: 0 auto;
  width: 10.625rem;
  height: 0.0625rem;
  background-color: #eaeaea;
  border-style: none;
}

.container-txt-h2-resume {
  margin: 0 auto;
  width: 10.625rem;
}

.container-txt-h2-resume h2 {
  color: #2f2f2f;
  font-family: var(--font-family-rubik);
  font-size: 1.125rem;
  font-weight: 700;
}

.table-resume {
  margin: 0 auto;
  width: 10.625rem;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.table-resume tr,
td {
  height: 2rem;
  width: 10.625rem;
  color: #2f2f2f;
  font-family: var(--font-family-rubik);
  font-size: 0.8125rem;
  font-weight: 500;
}

.table-resume td {
  text-align: right;
}

.entrace {
  color: #645ffb;
}

.balance {
  color: #3a9ff1;
}

.balance-txt {
  font-weight: 700;
  font-size: 0.875rem;
}

.exit {
  color: #fa8c10;
}

@media (min-width: 630px) {
  @media (max-width: 800px) {
    .resume {
      width: 10rem;
    }

    .table-resume {
      width: 90%;
    }

    .resume hr {
      width: 90%;
    }

    .container-txt-h2-resume {
      width: 90%;
    }
  }
}

@media (min-width: 300px) {
  @media (max-width: 629px) {
    .resume {
      width: 6rem;
    }

    .table-resume {
      width: 100%;
    }

    .resume hr {
      width: 90%;
    }

    .container-txt-h2-resume {
      width: 100%;
    }

    .container-txt-h2-resume h2 {
      font-size: 15px;
    }

    .table-resume tr,
    td {
      font-size: 8px;
      font-weight: 600;
    }

    .balance-txt {
      font-size: 10px;
    }
  }
}
