.titles-container {
  background: #fafafa;
  box-shadow: 0px 0.125rem 0.6875rem 0px rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  height: 3.625rem;
}

.container-table {
  width: 100%;
  max-width: 62.5rem;
}

.transation-table {
  border-collapse: collapse;
  width: 62.5rem;
}

.table-scroll {
  max-height: 25rem;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: 0.938rem;
}

.list-item {
  height: 3.625rem;
}

.list-item td {
  border-bottom: 1px solid #e0e0e0;
  border-collapse: collapse;
}

.list-item p {
  display: flex;
  align-items: center;
  justify-content: center;
}

.Data-item {
  font-weight: bolder;
}

.data-th-txt {
  cursor: pointer;
}

.rotate-up {
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.rotate-down {
  transform: rotate(180deg);
  transition: transform 0.3s ease-in-out;
}

.table-description {
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.table-description p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 0;                
}

@media (max-width: 1900px) {
  .transation-table {
    width: auto;
  }
}

@media (min-width: 630px) {
  @media (max-width: 800px) {
    .description {
      gap: 0px;
    }

    .title-container-text th {
      font-size: 12px;
    }

    .list-container .list-item td p {
      font-size: 10px;
    }
  }
}

@media (min-width: 300px) {
  @media (max-width: 629px) {
    .description {
      gap: 0px;
    }

    .title-container-text th {
      font-size: 10px;
    }

    .list-container .list-item td p {
      font-size: 8px;
    }

    .table-description {
      max-width: 50px;
    }

    .edit-icon p img {
      margin-left: 0;
    }
  }
}